.main-nav{
  background-color: #4bd1b6;
  width: 100vw;
  height: 40px;
  /* position: relative; */
  left:0px;
  top:0px;
  }
/* ver cmo arreglar el tema delas posiciones con el ejercicio de navbar rojo */

.main-nav li{
  display:inline-block;
  font-size: 20px;
  padding-top: 10px;
  margin-right: 5px;
  color: #fff;
}

.logo{
  position: relative;
  top:5px;
  left:20px;
  z-index: 30;
  max-width: 50%;
  max-height: 50%;
}
