@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500');

@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"); /*para poder usar los iconitos, que se comporta como tipografia*/

@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
/* falta solucionar:
no forzar el margin para que el contenido no se meta atras del navbar
*/

.main-nav{
  position: fixed;
  width:100%;
  height:auto;
  left: 0;
  top: 0;
  clear:both;
  z-index: 200;
  padding:10px;
  display: inline-flex;
  background-color: #4bd1b6;
}

.main-nav li{
  position: relative;
  display:inline-block;
  font-size: 20px;
  padding-top: 10px;
  margin-right: 5px;
  color: #fff;
}
.main-nav li a{
  color: #fff;
}

.logo{
  max-height: 80px;
  width: auto;
  clear:both;
  display: block; /*esto es para poder aplicarle el margin auto, es solo para elementos de bloque*/
  margin:auto;
}
/*
ul.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.main-nav li {float: left;}

ul.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.main-nav li a:hover:not(.active) {background-color: #111;}

ul.main-nav li a.active {background-color: #4CAF50;}

ul.main-nav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.main-nav li.right,
  ul.main-nav li {float: none;}
} */
