@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,700,700i');

@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"); /*para poder usar los iconitos, que se comporta como tipografia*/

@import url("normalize.css");

@import url("navstyle.css");


*{
  box-sizing: border-box;
}

body{
  font-family: "Muli", sans-serif; /*esto es para que si no carga la tipografia roboto me cargue la sans-serif*/
  background-image: url(../images/bg-body.jpg);

}
ul,
ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit; /*esto significa que esta hereddando el color de su padre*/
  display: inline-block; /*para que tome los margenes y no ocupe todo el ancho, esto lo uso por default*/
}

img{
  width: 100%;/*para que tenga el ancho de us contenedor*/
}

/*--------hasta acá es el seteo de los estilos de la pagina-------------*/
